{% extends "base.html" %}

{% block main %}
<div class="container mt-5 text-center">
    <h2>Password successfully changed!</h2>
    <p>You will be redirected to the homepage in <span id="countdown">5</span> seconds.</p>
</div>

<script>
    let countdownEl = document.getElementById('countdown');
    let seconds = 5;

    let interval = setInterval(() => {
        seconds--;
        if (seconds <= 0) {
            clearInterval(interval);
            window.location.href = '/';  // редирект на главную
        } else {
            countdownEl.textContent = seconds;
        }
    }, 1000);
</script>
{% endblock %}
