{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container mt-4">
        <div class="row">
            <!-- Левая колонка: аватар + кнопка -->
            <div class="col-md-3 text-center">
                {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" alt="Avatar"
                         class="img-fluid rounded w-100 mb-3">
                {% else %}
                    <img src="{% static 'img/no_avatar.png' %}" alt="No avatar"
                         class="img-fluid rounded w-100 mb-3">
                {% endif %}

                <!-- кнопка friends -->
                {% if is_friends %}
                    <form method="post" action="#">
                        {% csrf_token %}
                        <input type="hidden" name="#" value="#">
                        <button type="submit" class="btn btn-danger w-100 mt-1">
                            Видалити з друзів
                        </button>
                    </form>
                {% elif request_sent %}
                    <form method="post" action="{% url 'friends:retract_friend' %}">
                        {% csrf_token %}
                        <input type="hidden" name="to_user_id" value="{{ target_user.id }}">
                        <button type="submit" class="btn btn-secondary w-100 mt-1">
                            Відізвати заявку
                        </button>
                    </form>
                {% elif request_received %}
                    <form method="post" action="{% url 'friends:accept_friend' %}">
                        {% csrf_token %}
                        <input type="hidden" name="to_user_id" value="{{ target_user.id }}">
                        <button type="submit" class="btn btn-success w-100 mt-1">
                            Підтвердити дружбу
                        </button>
                    </form>
                {% else %}
                    <form method="post" action="/friend/send/">
                        {% csrf_token %}
                        <input type="hidden" name="to_user_id" value="{{ target_user.id }}">
                        <button type="submit" class="btn btn-secondary w-100 mt-1">
                            Додати до друзів
                        </button>
                    </form>
                {% endif %}


                {% if user.is_authenticated %}
                    <a href="{% url 'messaging:dialog' user.username %}" class="btn btn-primary w-100 mt-1">
                        Chat со мной
                    </a>
                {% else %}
                    <button class="btn btn-secondary w-100 mt-1" disabled>Нет username для чата</button>
                {% endif %}

                <a href="{% url "accounts:user-profile-edit" user.username %}"
                   class="btn btn-secondary w-100 mt-1">
                    Редактировать страницу (test)
                </a>

                <a href="#" class="btn btn-secondary w-100 mt-1">
                    Додати до обраного
                </a>

                <a href="#" class="btn btn-danger w-100 mt-1">
                    Заблокувати користувача
                </a>

            </div>

            <!-- Правая колонка: информация -->
            <div class="col-md-9">
                <h2>@{{ target_user.username }}</h2>
                <hr>
                <p><strong>Имя:</strong> {{ profile.first_name|default:"Не указано" }}
                    {{ profile.last_name|default:"" }}</p>
                <p><strong>Пол:</strong>
                    {% if profile.gender == "M" %} Мужской
                    {% elif profile.gender == "F" %} Женский
                    {% else %} Не указан
                    {% endif %}
                </p>
                <p>
                    <strong>Активність:</strong>
                    {% if profile_user.last_login %}
                        {{ profile_user.last_login|timesince }} тому
                    {% else %}
                        Немає даних
                    {% endif %}
                </p>

                <!-- Блок с локацией -->
                <p><strong>Страна:</strong>
                    {% if profile.city and profile.city.country %}
                        {{ profile.city.country.name|default:"Не указана" }}
                    {% else %}
                        Не указана
                    {% endif %}
                </p>

                <p><strong>Регион:</strong>
                    {% if profile.city and profile.city.region %}
                        {{ profile.city.region.name|default:"Не указан" }}
                    {% else %}
                        Не указан
                    {% endif %}
                </p>

                <p><strong>Город:</strong>
                    {% if profile.city %}
                        {{ profile.city.name|default:"Не указан" }}
                    {% else %}
                        Не указан
                    {% endif %}
                </p>

                <p><strong>Дата рождения:</strong> {{ profile.date_of_birth|date:"d.m.Y"|default:"Не указана" }}</p>
                <p><strong>О себе:</strong> {{ profile.bio|default:"Пусто" }}</p>

                <hr>

                <p>
                    object_user - {{ target_user }} <br>
                    is_friends - {{ is_friends }} <br>
                    request_sent - {{ request_sent }} <br>
                    request_received - {{ request_received }} <br>
                </p>


            </div>
        </div>
    </div>
{% endblock %}
